<% if user_signed_in? %>
  <h1>Orders Details</h1>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>S.no</th>
          <th>Address</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= @orders.index(order) + 1 %></td>
            <td><%= order.address %></td>
            <td><%= order.total_price %></td>
              <td> 
              <%= button_to "Cancel Order", "order_path(order_id)", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </td>
            </tr>
      </tbody>
      <%end%>
<%end%>
</table>          